<style>
body {background-color: coral;}
</style>
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h2 class="text-center">Log in</h2>

   <%= bootstrap_form_for @user do |f| %>
 <%= flash[:warning] if (flash[:warning]) %>
    <%= f.text_field :name, 
                      autofocus: true, 
                      class: 'form-control', 
                      placeholder: 'username' %>

    <%= f.password_field  :password, 
                          autocomplete: "off", 
                          class: 'form-control',
                          placeholder: 'password' %>


   <%= f.submit "Log in", class: 'form-control login-button' %>
<% end %>

     </div>
  </div> 
</div>

