<style>
body {background-color: coral;}
h1 {font-size: 100px;}
body {text-align: center;}
li {list-style-type: none;}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-evenly;
}
.grid-container li{text-align:center;
font-size:20px;}
</style>


<h1>Car list</h1>
<div class='carlist'>
<% if @user.cars == [] %>
<%= "You do not have any cars" %>
<% else %>
<div class="grid-container">
    <% @user.cars.each do |car| %>
<<<<<<< HEAD
    <li><%= car.make %>: <%= car.model %>: <%= car.color %>
    <%= button_to "Check Details", car_path(car), method: "get" %>
=======
    <li><%= car.make %></li>
    <li><%= car.model %></li> 
    <%= car.color %>
    <%= button_to "View/Edit", car_path(car), method: "get" %>
>>>>>>> 46d3654... working code
    </li>
    <% end %>
    </div>
<% end %>
</div>
<br>
<%= link_to  "Create Car", new_car_path %>
<div class="navi">
    <%= link_to  "Home", user_path %> | <%= link_to  "Logout", logout_path %>
</div>