<h1>Car list</h1>
<div class='carlist'>
<% if @user.cars == [] %>
<%= "You do not have any cars" %>
<% else %>
    <% @user.cars.each do |car| %>
    <li><%= car.make %>:<%= car.model %>  <%= button_to "Or Login", car_path, method: "destroy" %></li>
    <% end %>
<% end %>
</div>
<br>
<%= link_to  "Create Car", new_car_path %>
<div class="navi">
    <%= link_to  "Home", user_path %> | <%= link_to  "Logout", logout_path %>
</div>