<body>
<h1>Your cars</h1>
<div class='carlist'>
<% if @user.cars == [] %>
<%= "You do not have any cars" %>
<% else %>
    <% @user.cars.each do |car| %>
        <%= car.color.capitalize %> <%= car.make.capitalize %> <%= car.model.upcase %>
        <br>
    <%= button_to "View/Edit", car_path(car), method: "get" %>
    <br>
    </li>
    <% end %>
<% end %>
</div>
<br>
<%= link_to  "Create Car", new_car_path %>
<div class="navi">
     <%= link_to  "Logout", logout_path %>
</div>
<body>