<h1>Car list</h1>
<div class='carlist'>
<% if @user.cars == [] %>
<%= "You do not have any cars" %>
<% else %>
    <% @user.cars.each do |car| %>
    <li><%= car.make %></li>
    <li><%= car.model %></li> 
    <%= car.color %>
    <%= button_to "View/Edit", car_path(car), method: "get" %>
    </li>
    <% end %>
<% end %>
</div>
<br>
<%= link_to  "Create Car", new_car_path %>
<div class="navi">
    <%= link_to  "Home", user_path %> | <%= link_to  "Logout", logout_path %>
</div>