<h1>Make a new car</h1>
<%= form_for @car do |f| %>
    <%= flash[:errors] if (flash[:errors]) %>
<%= f.label :make %><br>

<%= f.text_field :make %>
<br>
<%= f.label :model %><br>
<%= f.text_field :model %>
<br>
<%= f.label :color %><br>
<%= f.text_field :color %>
<br>
<%= f.submit %>
<% end %>

