<h1> Your car </h1>
<h3>Make: <%= @car.make %>
<br>
Model: <%= @car.model %>
<br>
Color: <%= @car.color %>
<br>
</h3>
Problem: 
<% @car.problems.each do |problem| %>
    
    <li><%= problem.problem %> </li>

    <% end %>

<div>
<%= button_to "Create problem", new_problem_path, :params => {:id => @car.id}, method: "get"%>
    
</div>