<h1><%= @car.make %></h1>
<br>
Model: <%= @car.model %>
<br>
Color: <%= @car.color %>
<br>
 
Problem: <% @car.problems.each do |problem| %>
    
    <li><%= problem.problem %> </li>

    <% end %>

<div>
<%= button_to "Create problem", new_problem_path, :params => {:id => @car.id}, method: "get"%>
    
</div>