<body>
<h1><%= @car.color.capitalize %> <%= @car.make.capitalize %> <%= @car.model.upcase %> </h1>

Problem(s) with this car: 
<br>
 <%= link_to  "Current Problems:", problem_path %><%= @car.problems.length %>

<div>
<%= button_to "Create problem", new_problem_path, :params => {:id => @car.id}, method: "get"%>
    
</div>

