<body>
<h1><%= @car.color.capitalize %> <%= @car.make.capitalize %> <%= @car.model.upcase %> </h1>

Problem(s) with this car: 
<br>
<% @car.problems.each do |problem| %>
    
    <%= problem.problem %>,

    <% end %>

<div>
<br>
<%= button_to "Report a new problem", new_problem_path, :params => {:id => @car.id}, method: "get"%>

<%= button_to "Back", user_path(@car.user_id), method: "get" %>
</div>
<body>